@charset "UTF-8";
html {
  font-size: 100px; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  font-famliy: "微软雅黑";
  box-sizing: border-box; }

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

button,
textarea,
select,
input {
  appearance: none; }

a {
  top-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts1/iconfont.eot?t=1476059862");
  /* IE9*/
  src: url("../fonts1/iconfont.eot?t=1476059862#iefix") format("embedded-opentype"), url("../fonts1/iconfont.woff?t=1476059862") format("woff"), url("../fonts1/iconfont.ttf?t=1476059862") format("truetype"), url("../fonts1/iconfont.svg?t=1476059862#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

header {
  width: 100%;
  height: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .2rem;
  font-size: .2rem;
  color: #000; }
  header span:nth-of-type(1) {
    font-size: .2rem; }
  header span i {
    margin: 0 .2rem; }

section {
  flex: 1;
  overflow: auto; }

.section-search {
  width: 100%;
  height: 0.3rem;
  margin-top: .2rem;
  position: relative; }
  .section-search i.icon {
    position: absolute;
    left: .3rem;
    top: .05rem;
    color: #666;
    font-size: .2rem; }
  .section-search input {
    width: 90%;
    height: 0.3rem;
    border-radius: .05rem;
    outline: none;
    background: #99999936;
    text-indent: .35rem;
    border: none;
    margin-left: .2rem; }

.swiper-slide {
  width: 90%;
  height: 2rem;
  display: flex;
  padding: 0 .15rem;
  flex-wrap: wrap; }
  .swiper-slide li {
    width: 18%;
    height: auto;
    margin-left: .05rem;
    margin-top: .1rem;
    text-align: center; }
    .swiper-slide li img {
      width: 80%;
      height: auto; }

.section-list {
  margin-top: .2rem; }

#round {
  position: relative;
  top: .05rem; }
  #round span {
    background: #FFCA48; }

.section-bscroll {
  width: 100%;
  height: auto; }

.section-bscroll-title {
  width: 95%;
  height: 0.5rem;
  line-height: .5rem;
  color: #fff;
  background: #FE3A30;
  margin-left: .1rem; }
  .section-bscroll-title p {
    margin-left: .15rem;
    font-size: .2rem; }

.wrapper {
  width: 3.5rem;
  height: auto;
  overflow: hidden; }
  .wrapper .container {
    width: 9rem;
    height: auto;
    display: flex;
    padding: 0 .1rem; }
    .wrapper .container dl {
      margin-left: .2rem; }
      .wrapper .container dl dt img {
        width: 1rem;
        height: auto; }
      .wrapper .container dl dd p {
        width: 1rem;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
        line-height: 2; }
        .wrapper .container dl dd p:nth-of-type(2) span {
          color: #FE3A30;
          margin-left: .05rem; }
          .wrapper .container dl dd p:nth-of-type(2) span:nth-of-type(2) {
            border: 1px solid #FE3A30;
            border-radius: .05rem; }

.section-banner {
  width: 100%;
  height: 0.4rem; }
  .section-banner img {
    width: 100%;
    height: auto; }

footer {
  width: 100%;
  height: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .2rem;
  font-size: .2rem;
  color: #666; }
  footer li {
    text-align: center; }
  footer img {
    width: 30%;
    height: auto;
    margin-left: .05rem; }
  footer span p:active {
    color: orange; }
